<div class="component">
  <app-delete-alert [message]="alertMsg" *ngIf="alert" (deleteCancel)="deleteCancel()" (deleteConfirm)="deleteConfirm()"></app-delete-alert>
  <app-expenses-load-from-file *ngIf="loadingFromFile" (loadFromFileCancel)="loadFromFileCancel()" (loadFromFileConfirm)="loadFromFileConfirm()"></app-expenses-load-from-file>
  <!-- <button type="button" class="button" routerLink="/expenses/new">Add new</button> -->
  <button type="button" class="button" (click)="loadFromFile()">Load from file</button>
  <div class="search">
    <label for="search">Search for:</label>
    <input type="text" id="search" class="input" [(ngModel)]="searchText" (ngModelChange)="onSearch()">
  </div>
  
  <hr>
  <div *ngIf="!$expenses">
    <span class="sr-only">Loading...</span> 
    <br>
    <div class="spinner-border" role="status"></div>
  </div>
  
  <table *ngIf="$expenses">
    <thead>
      <tr>
        <th>Date</th>
        <th>Value</th>
        <th>Category</th>
        <th>Target</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expensesToDisplay">
        <td>{{expense.expenseDate}}</td>
        <td [ngClass]="expense.expenseValue >= 0 ? 'positive-value' : 'negative-value'">
          {{expense.expenseValue}}
        </td>
        <td>{{expense.expenseCategory.expenseCategoryName}}</td>
        <td>{{expense.expenseTarget.expenseTargetName}}</td>
        <td>{{expense.expenseName}}</td>
        <td>
          <button class="delete-button" (click)="deleteItem(expense._id!)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
