.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  z-index: 50;
}

.alert-box {
  position: fixed;
  top: 30vh;
  left: 35vw;
  width: 30vw;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.26);
  border-radius: var(--border-radius) var(--border-radius) var(--border-radius) var(--border-radius);
}

.alert-box-actions{
  text-align: center;
}

.bte{
  margin: 10px;
}

.message-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-bottom-style: solid;
  border-width: var(--thick-border-width);
  border-color: var(--medium-grey);
  height: 3rem;
  width: 100%;
}

.box-header{
  border-bottom-style: solid;
  border-width: var(--thick-border-width);
  border-color: var(--medium-grey);
  height: 1rem;
  width: 100%;
}

