<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Dietkownik</a>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--<li class="nav-item">
          <a routerLink="/user" class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#profile" ></use></svg>
            Profile
          </a>
        </li>-->
        <li>
          <a routerLink="/ingredients" class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#ingredient"></use></svg>
            Ingredients
          </a>
        </li>
        <li>
          <a routerLink="/dishes" class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#dish"></use></svg>
            Dishes
          </a>
        </li>
        <li>
          <a routerLink="/diets" class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#diet"></use></svg>
            Diets
          </a>
        </li>
        <li>
          <a routerLink="/sharedManagement" class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#sharedManagement"></use></svg>
            Shared Management
          </a>
        </li>
        <li>
          <a routerLink="/dietRequirements" class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#dietrequirements"></use></svg>
            Diet Requirements
          </a>
        </li>
        <li>
          <a routerLink="/shoppingList" class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#shoppingList"></use></svg>
            Shopping list
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>